<table id="client">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>RO Number</th>
                <th>Model</th>
                <th>Service Requested</th>
                <th>Waiting</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

<script id="table-template" type="text/x-handlebars-template">
    {{#each this}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{phoneNumber}}</td>
        <td>{{repairOrderNumber}}</td>
        <td>{{carModel}}</td>
        <td>{{serviceRequested}}</td>
        <td>{{waitingForService}}</td>
    </tr>
    {{/each}}
</script>

<script src="./js/client.js"></script>