<table class="table is-striped is-narrow is-hoverable is-fullwidth" id="client">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Repair Order</th>
            <th>Model</th>
            <th>Service Requested</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each clients as |client| }}
        <tr align="center">
            <td>{{client.name}}</td>
            <td>{{client.phoneNumber}}</td>
            <td>{{client.repairOrderNumber}}</td>
            <td>{{client.carModel}}</td>
            <td>{{client.serviceRequested}}</td>
            <td>
                {{#if client.waitingForService}}
                Waiting
                {{else}}
                Dropped off
                {{/if}}
            </td>
        </tr>
        <tr class="spacer-row"><td colspan="6"></td></tr>
        {{/each}}
    </tbody>
</table>